<div class="jumbotron">
	<h1>About us</h1>
	<p>I am working on this sample App to learn Ruby on Rails<br>
		At the same time I am trying to work on a little project that is dedicaded to frequant flyers.</p>
</div>	